<style>
  .menu-link.active {
    border-bottom: 5px solid rgb(0, 102, 255);
    color: rgb(0, 102, 255);
  }
</style>

<header class="absolute inset-x-0 top-0 z-50 bg-black">
  <nav class="flex items-center justify-between p-0 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5" routerLink="/home">
        <div class="text-3xl font-bold text-sky-700">Bibliothèque</div>
      </a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a routerLink="/home" routerLinkActive="active"
        class="menu-link text-sm font-thin leading-6 text-white p-5">Home</a>
      <a routerLink="/documents" routerLinkActive="active"
        class="menu-link text-sm font-thin leading-6 text-white p-5">Documents</a>
      <a routerLink="/login" routerLinkActive="active"
        class="menu-link text-sm font-thin leading-6 text-white p-5">Login</a>
    </div>
  </nav>
</header>