<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


<div class="w-96 mx-auto mt-2">
  <div class="relative rounded-md shadow-sm flex items-center">
    <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 pr-3 flex items-center">
      <span class="text-gray-500 sm:text-sm"><i class="fas fa-search"></i></span>
    </div>
    <input type="text" name="price" id="price" class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-10 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6" onfocus="document.querySelector('.fas.fa-search').style.display = 'none';" onblur="document.querySelector('.fas.fa-search').style.display = 'block';">
  </div>
</div>



