<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="p-8"></div>

<h1 class="text-center text-3xl pt-20 pb-9">Nos Documents</h1>

<!-- First document -->

<div class="container border-2 mx-auto lg:w-2/3 rounded-md">
    <div class="pl-8">
        <p class="text-gray-400 pb-3 pt-3 border-b-2 border-gray-300">Roman</p>
    </div>

    <div class="pl-8 pt-2">
        <h1 class="text-2xl">1984</h1>
    </div>

    <div class="pl-8 pb-3 pt-3">
        <p class="text-gray-400">George Orwell</p>
    </div>

    <div class="pl-8 flex justify-left pb-2 pt-2">
        <p class="text-gray-300 pr-2">Gallimard</p>
        <p class="text-gray-300 pr-2">1950</p>
        <p class="text-gray-300 pr-2">| FR |</p>
        <p class="text-gray-300 pr-2">2-07-036822-X</p>
    </div>

    <div class="pl-8 flex justify-left">
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-regular fa-star"></i></span>
        <p class="text-gray-500 pr-1">5</p>
        <p class="text-gray-500">Commentaires</p>
    </div>

    <div class="flex justify-center pt-4 pl-8 pb-7">

        <div class="w-screen">
            <input type="text" name="price" id="price"
                class="p-4 border-2 border-opacity-60 rounded-lg border-gray-400 w-full"
                placeholder="Écrire un commentaire">

        </div>

        <div class="pl-9 pr-9 mt-auto">
            <button
                class="rounded-md border-2 border-opacity-25 border-blue-600 pb-0.5 pt-0.5 pl-2 pr-2 bg-blue-100 text-blue-600">Envoyer</button>
        </div>

    </div>

    <div class="text-center">
        <button class="w-full mx-auto text-gray-400 bg-gray-50">
            <i class="fa-sharp fa-solid fa-angle-down"></i> Afficher tous les commentaires
        </button>
    </div>

</div>

<!-- Second document -->

<div class="p-10"></div>

<div class="container border-2 mx-auto lg:w-2/3 rounded-md">
    <div class="pl-8">
        <p class="text-gray-400 pb-3 pt-3 border-b-2 border-gray-300">Roman</p>
    </div>

    <div class="pl-8 pt-2">
        <h1 class="text-2xl">L'Étranger</h1>
    </div>

    <div class="pl-8 pb-3 pt-3">
        <p class="text-gray-400">Albert Camus</p>
    </div>

    <div class="pl-8 flex justify-left pb-2 pt-2">
        <p class="text-gray-300 pr-2">Gallimard</p>
        <p class="text-gray-300 pr-2">1942</p>
        <p class="text-gray-300 pr-2">| FR |</p>
        <p class="text-gray-300 pr-2">9788845277634</p>
    </div>

    <div class="pl-8 flex justify-left">
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-regular fa-star"></i></span>
        <p class="text-gray-500 pr-1">5</p>
        <p class="text-gray-500">Commentaires</p>
    </div>

    <div class="flex justify-center pt-4 pl-8 pb-7">

        <div class="w-screen">
            <input type="text" name="price" id="price"
                class="p-4 border-2 border-opacity-60 rounded-lg border-gray-400 w-full"
                placeholder="Écrire un commentaire">

        </div>

        <div class="pl-9 pr-9 mt-auto">
            <button
                class="rounded-md border-2 border-opacity-25 border-blue-600 pb-0.5 pt-0.5 pl-2 pr-2 bg-blue-100 text-blue-600">Envoyer</button>
        </div>

    </div>

    <div class="text-center">
        <button class="w-full mx-auto text-gray-400 bg-gray-50">
            <i class="fa-sharp fa-solid fa-angle-down"></i> Afficher tous les commentaires
        </button>
    </div>

</div>

<!-- Third document -->

<div class="p-10"></div>

<div class="container border-2 mx-auto lg:w-2/3 rounded-md">
    <div class="pl-8">
        <p class="text-gray-400 pb-3 pt-3 border-b-2 border-gray-300">Poésie</p>
    </div>

    <div class="pl-8 pt-2">
        <h1 class="text-2xl">Les Fleurs du mal</h1>
    </div>

    <div class="pl-8 pb-3 pt-3">
        <p class="text-gray-400">Charles Beaudelaire</p>
    </div>

    <div class="pl-8 flex justify-left pb-2 pt-2">
        <p class="text-gray-300 pr-2">Auguste Poulet-Malassis</p>
        <p class="text-gray-300 pr-2">1857</p>
        <p class="text-gray-300 pr-2">| FR |</p>
        <p class="text-gray-300 pr-2">9782253158653</p>
    </div>

    <div class="pl-8 flex justify-left">
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-regular fa-star"></i></span>
        <p class="text-gray-500 pr-1">5</p>
        <p class="text-gray-500">Commentaires</p>
    </div>

    <div class="flex justify-center pt-4 pl-8 pb-7">

        <div class="w-screen">
            <input type="text" name="price" id="price"
                class="p-4 border-2 border-opacity-60 rounded-lg border-gray-400 w-full"
                placeholder="Écrire un commentaire">

        </div>

        <div class="pl-9 pr-9 mt-auto">
            <button
                class="rounded-md border-2 border-opacity-25 border-blue-600 pb-0.5 pt-0.5 pl-2 pr-2 bg-blue-100 text-blue-600">Envoyer</button>
        </div>

    </div>

    <div class="text-center">
        <button class="w-full mx-auto text-gray-400 bg-gray-50">
            <i class="fa-sharp fa-solid fa-angle-down"></i> Afficher tous les commentaires
        </button>
    </div>

</div>

<!-- Fourth document -->

<div class="p-10"></div>

<div class="container border-2 mx-auto lg:w-2/3 rounded-md">
    <div class="pl-8">
        <p class="text-gray-400 pb-3 pt-3 border-b-2 border-gray-300">Roman</p>
    </div>

    <div class="pl-8 pt-2">
        <h1 class="text-2xl">Les misérables</h1>
    </div>

    <div class="pl-8 pb-3 pt-3">
        <p class="text-gray-400">Victor Hugo</p>
    </div>

    <div class="pl-8 flex justify-left pb-2 pt-2">
        <p class="text-gray-300 pr-2">Gallimard</p>
        <p class="text-gray-300 pr-2">1862</p>
        <p class="text-gray-300 pr-2">| FR |</p>
        <p class="text-gray-300 pr-2">9781407017013</p>
    </div>

    <div class="pl-8 flex justify-left">
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-regular fa-star"></i></span>
        <p class="text-gray-500 pr-1">5</p>
        <p class="text-gray-500">Commentaires</p>
    </div>

    <div class="flex justify-center pt-4 pl-8 pb-7">

        <div class="w-screen">
            <input type="text" name="price" id="price"
                class="p-4 border-2 border-opacity-60 rounded-lg border-gray-400 w-full"
                placeholder="Écrire un commentaire">

        </div>

        <div class="pl-9 pr-9 mt-auto">
            <button
                class="rounded-md border-2 border-opacity-25 border-blue-600 pb-0.5 pt-0.5 pl-2 pr-2 bg-blue-100 text-blue-600">Envoyer</button>
        </div>

    </div>

    <div class="text-center">
        <button class="w-full mx-auto text-gray-400 bg-gray-50">
            <i class="fa-sharp fa-solid fa-angle-down"></i> Afficher tous les commentaires
        </button>
    </div>

</div>

<!-- Fifth document -->

<div class="p-10"></div>

<div class="container border-2 mx-auto lg:w-2/3 rounded-md">
    <div class="pl-8">
        <p class="text-gray-400 pb-3 pt-3 border-b-2 border-gray-300">Roman</p>
    </div>

    <div class="pl-8 pt-2">
        <h1 class="text-2xl">Madame Bovary</h1>
    </div>

    <div class="pl-8 pb-3 pt-3">
        <p class="text-gray-400">Gustave Flaubert</p>
    </div>

    <div class="pl-8 flex justify-left pb-2 pt-2">
        <p class="text-gray-300 pr-2">Michel Lévy frères</p>
        <p class="text-gray-300 pr-2">1856</p>
        <p class="text-gray-300 pr-2">| FR |</p>
        <p class="text-gray-300 pr-2">9781933499185</p>
    </div>

    <div class="pl-8 flex justify-left">
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
        <span class="text-blue-500 pr-2"><i class="fa-regular fa-star"></i></span>
        <p class="text-gray-500 pr-1">5</p>
        <p class="text-gray-500">Commentaires</p>
    </div>

    <div class="flex justify-center pt-4 pl-8 pb-7">

        <div class="w-screen">
            <input type="text" name="price" id="price"
                class="p-4 border-2 border-opacity-60 rounded-lg border-gray-400 w-full"
                placeholder="Écrire un commentaire">

        </div>

        <div class="pl-9 pr-9 mt-auto">
            <button
                class="rounded-md border-2 border-opacity-25 border-blue-600 pb-0.5 pt-0.5 pl-2 pr-2 bg-blue-100 text-blue-600">Envoyer</button>
        </div>

    </div>

    <div class="text-center">
        <button class="w-full mx-auto text-gray-400 bg-gray-50">
            <i class="fa-sharp fa-solid fa-angle-down"></i> Afficher tous les commentaires
        </button>
    </div>

</div>

<div class="p-10"></div>