<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>

<!-- Without access -->
<div *ngIf="!authService.token" class="pb-10">
  <div class="p-8"></div>

  <h1 class="text-center text-3xl pt-20 pb-9">Nos Documents</h1>

  <div
    *ngFor="let document of documents"
    class="container border-2 mx-auto lg:w-2/3 rounded-md mb-7 pb-5"
  >
    <div class="pl-8">
      <p class="text-gray-400 pb-3 pt-3 border-b-2 border-gray-300">Roman</p>
    </div>

    <div class="pl-8 pt-2">
      <h1 class="text-2xl">{{ document.title }}</h1>
    </div>

    <div class="pl-8 pb-3 pt-3">
      <p class="text-gray-400">{{ document.author }}</p>
    </div>

    <div class="pl-8 flex justify-left pb-2 pt-2">
      <p class="text-gray-300 pr-2">{{ document.editor }}</p>
      <p class="text-gray-300 pr-2">{{ document.publicationYear }}</p>
      <p class="text-gray-300 pr-2">| {{ document.language }} |</p>
      <p class="text-gray-300 pr-2">{{ document.ISBN }}</p>
    </div>

    <div class="pl-8 flex justify-left">
      <ng-container *ngFor="let _ of generateRatingStars(document)">
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
      </ng-container>
      <p class="text-gray-500 pr-1">{{ document.comments.length }}</p>
      <p class="text-gray-500">Commentaire(s)</p>
    </div>
    <div *ngIf="!document.showComments" class="text-center">
      <button
        (click)="toggleComments(document)"
        class="w-full mx-auto text-gray-400 bg-gray-50"
      >
        <i class="fa-sharp fa-solid fa-angle-down"></i> Afficher tous les
        commentaires
      </button>
    </div>

    <div>
      <div *ngIf="document.showComments" class="pl-8 pr-8 pb-8">
        <div
          *ngFor="let comment of document.comments"
          class="border-2 border-opacity-25 border-gray-400 rounded-md"
        >
          <div class="flex justify-between">
            <div class="pl-4 pt-4">
              <p class="text-gray-400">
                {{ comment.user.firstName }} {{ comment.user.lastName }}
                <br />
                le {{ comment.user.createdAt }}
              </p>
            </div>
            <div class="pr-4 pt-4">
              <p class="text-blue-500">Note : {{ comment.rating }}</p>
            </div>
          </div>
          <div class="pl-4 pt-4 pb-4">
            <p class="text-black">Commentaire : {{ comment.content }}</p>
          </div>
        </div>
        <div class="text-center">
          <button
            (click)="toggleComments(document)"
            class="w-full mx-auto text-gray-400 bg-gray-50"
          >
            <i class="fa-sharp fa-solid fa-angle-up"></i> Cacher tous les
            commentaires
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- With access -->
<div *ngIf="authService.token" class="pb-10">
  <div class="p-8"></div>

  <h1 class="text-center text-3xl pt-20 pb-9">Nos Documents</h1>

  <div
    *ngFor="let document of documents"
    class="container border-2 mx-auto lg:w-2/3 rounded-md mb-7"
  >
    <div class="pl-8">
      <p class="text-gray-400 pb-3 pt-3 border-b-2 border-gray-300">Roman</p>
    </div>

    <div class="pl-8 pt-2">
      <h1 class="text-2xl">{{ document.title }}</h1>
    </div>

    <div class="pl-8 pb-3 pt-3">
      <p class="text-gray-400">{{ document.author }}</p>
    </div>

    <div class="pl-8 flex justify-left pb-2 pt-2">
      <p class="text-gray-300 pr-2">{{ document.editor }}</p>
      <p class="text-gray-300 pr-2">{{ document.publicationYear }}</p>
      <p class="text-gray-300 pr-2">| {{ document.language }} |</p>
      <p class="text-gray-300 pr-2">{{ document.ISBN }}</p>
    </div>

    <div class="pl-8 flex justify-left">
      <ng-container *ngFor="let _ of generateRatingStars(document)">
        <span class="text-blue-500 pr-2"><i class="fa-solid fa-star"></i></span>
      </ng-container>
      <p class="text-gray-500 pr-1">{{ document.comments.length }}</p>
      <p class="text-gray-500">Commentaire(s)</p>
    </div>

    <div [formGroup]="commentForm">
      <div class="flex justify-center pt-4 pl-8 pb-7">
        <span>
          <label for="newRating" class="pr-4">Note :</label>
          <select
            formControlName="rating"
            name="newRating"
            id="newRating"
            class="p-4 border-2 border-opacity-60 rounded-lg border-gray-400"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </span>

        <div class="w-screen">
          <label for="newContent" class="pr-4">Commentaire :</label>
          <input
            formControlName="content"
            type="text"
            name="newContent"
            id="newContent"
            class="p-4 border-2 border-opacity-60 rounded-lg border-gray-400 w-full"
            placeholder="Écrire un commentaire"
          />
        </div>

        <div class="pl-9 pr-9 mt-auto">
          <button
            (click)="publishComment(document.id)"
            class="rounded-md border-2 border-opacity-25 border-blue-600 pb-0.5 pt-0.5 pl-2 pr-2 bg-blue-100 text-blue-600"
          >
            Envoyer
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="!document.showComments" class="text-center">
      <button
        (click)="toggleComments(document)"
        class="w-full mx-auto text-gray-400 bg-gray-50"
      >
        <i class="fa-sharp fa-solid fa-angle-down"></i> Afficher tous les
        commentaires
      </button>
    </div>

    <div>
      <div *ngIf="document.showComments" class="pl-8 pr-8 pb-8">
        <div
          *ngFor="let comment of document.comments"
          class="border-2 border-opacity-25 border-gray-400 rounded-md"
        >
          <div class="flex justify-between">
            <div class="pl-4 pt-4">
              <p class="text-gray-400">
                {{ comment.user.firstName }} {{ comment.user.lastName }}
                <br />
                le {{ comment.user.createdAt }}
              </p>
            </div>
            <div class="pr-4 pt-4">
              <p class="text-blue-500">Note : {{ comment.rating }}</p>
            </div>
          </div>
          <div class="pl-4 pt-4 pb-4">
            <p class="text-black">Commentaire : {{ comment.content }}</p>
          </div>
        </div>
        <div class="text-center">
          <button
            (click)="toggleComments(document)"
            class="w-full mx-auto text-gray-400 bg-gray-50"
          >
            <i class="fa-sharp fa-solid fa-angle-up"></i> Cacher tous les
            commentaires
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
