<div id="login-form-container">
    <h3>Login</h3>
    <form>
        <div class="field-container">
            <div class="login-item-line">
                <label for="username">Identifiant</label>
                <input type="text" id="username" name="username" />
            </div>
            <div class="login-item-line">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" />
            </div>
            <button>Valider</button>
        </div>
    </form>
</div>