<div>
    <img class="object-fill h-96 w-screen" src="../assets/images/homeBg.jpg" alt="books, glasses and old clock on a wooden table" priority>
</div>

<div class="p-10"></div>

<h1 class="text-center text-2xl">Trouver un document</h1>

<div class="p-5"></div>

<app-field></app-field>

<div class="p-4"></div>

<div class="text-center">
    <button class="mx-auto rounded-md border-2 border-opacity-25 border-blue-600 pb-0.5 pt-0.5 pl-6 pr-6 bg-blue-100 text-blue-600">Chercher</button>
</div>


<div class="p-10"></div>

<!-- End Primary Content Section -->

<!--  -->